<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title> Búsqueda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Ingrese una palabra para buscar.."
      [(ngModel)]="searchValue"
      (ionChange)="filterList()"
    >
    </ion-searchbar>
    <ion-item>
      <ion-label>Tipo de búsqueda</ion-label>
      <ion-select
        placeholder="Seleccione filtro"
        [(ngModel)]="selectedValue"
        (ionChange)="selectionChanged()"
      >
        <ion-select-option value="movie">Películas</ion-select-option>
        <ion-select-option value="tv">Series</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="searchCardContainer.length > 0">
      <ion-grid fixed="true">
        <ion-row>
          <ion-col
            *ngFor="let item of searchCardContainer"
            size-lg="2"
            size-md="4"
            size-sm="6"
            size-xs="6"
          >
            <app-card
            [title]="item.title"
            [image]="item.image"
            [rating]="item.rating"
            [model]="item.modelItem"
            (cardEventTrigger)="cardEventListener($event)"
            >
            </app-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando más contenido..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-list>
</ion-content>
